<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Am Dev Marco</title>
</head>
<body>
    <div>
        <h2><%= pageTitle %></h2>
        <p>New website coming soon...</p>
    </div>
</body>
</html>